@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Invertendo para modo escuro por padrão */
    --background: 222 16% 14%;
    --foreground: 240 25% 94%;

    --card: 224 17% 18%;
    --card-foreground: 240 25% 94%;

    --popover: 224 17% 18%;
    --popover-foreground: 240 25% 94%;

    --primary: 252 80% 74%;
    --primary-foreground: 0 0% 100%;

    --secondary: 217 32% 17%;
    --secondary-foreground: 240 25% 94%;

    --muted: 217 32% 17%;
    --muted-foreground: 215 20% 65%;

    --accent: 199 87% 49%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --border: 217 19% 27%;
    --input: 217 19% 27%;
    --ring: 252 80% 74%;
    
    --radius: 0.75rem;

    --sidebar-background: 222 19% 12%;
    --sidebar-foreground: 240 5% 96%;
    --sidebar-primary: 252 80% 74%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 217 19% 27%;
    --sidebar-accent-foreground: 240 5% 96%;
    --sidebar-border: 217 19% 27%;
    --sidebar-ring: 252 80% 74%;
  }

  .light {
    --background: 0 0% 98%;
    --foreground: 222 84% 5%;

    --card: 0 0% 100%;
    --card-foreground: 222 84% 5%;

    --popover: 0 0% 100%;
    --popover-foreground: 222 84% 5%;

    --primary: 252 80% 67%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 40% 96%;
    --secondary-foreground: 222 47% 11%;

    --muted: 210 40% 96%;
    --muted-foreground: 215 16% 47%;

    --accent: 199 87% 49%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;

    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 252 80% 67%;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5% 26%;
    --sidebar-primary: 252 80% 67%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 5% 96%;
    --sidebar-accent-foreground: 240 6% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 252 80% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}